:root {
    --white-color: white;
    --black-color: black;
    --accent-color: #22333B;
    --accent-color2: #EAE0D5;
    --accent-color-hover:  #22333bac;
    --accent-color2-hover: #eae0d5c1;
}

/* font */

.inclusive-sans-regular {
    font-family: "Inclusive Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.inclusive-sans-regular-italic {
    font-family: "Inclusive Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
}

/* font */

* {
    box-sizing: border-box;
    font-family: "Inclusive Sans", sans-serif;
}

body {
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* start of navbar */
.navbar-container {
    background-color: var(--white-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    padding-block: 0.5rem;
    padding-inline: 2rem;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    z-index: 2;
}

.logo img{
    width: 80px;
}

.nav-list ul{
    display: flex;
    justify-content: center;
    gap: 2rem 1rem;
    padding-left: 0;
    list-style-type: none;
}

.nav-list ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.05rem;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    transition: all 0.3s;
}

/* end of navbar */
main {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 100px 0;
    width: 100vw;
    height: auto;
}

/* hero */

.hero-container {
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    top: 220px;
    height: 90vh;
    width: 100%;
    padding: 0.5rem 2rem;
}

.hero {
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.hero img {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    max-width: 100%;
    border-radius: 35px;
    object-fit: cover;
    /* z-index: -2; */
}

.hero-desc {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px 0;
    top: 120px;
}

.hero-desc h1 {
    color: var(--accent-color2);
    text-align: center;
    font-size: 8rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.hero-desc p {
    color: var(--white-color);
    text-align: center;
    font-size: 1.3rem;
    margin: 0;
    padding: 0
}

button {
    background-color: var(--accent-color);
    padding: 20px 50px;
    border-radius: 0.5rem;
    border: none;
    color: var(--accent-color2);
    font-size: 1.7rem;
    transition: all .3s;
}

.hero-desc button:hover {
    box-shadow: 0 0 10px 5px var(--accent-color2);
    cursor: pointer;
}

.hero-desc button:active {
    transform: scale(.97);
}

/* hero */

/* aside */

.card-order-container {
    position: absolute;
}

/* aside */

/* services section */

.services-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0 100px;
}

.section-title h1 {
    text-align: center;
    font-size: 5rem;
    font-weight: 700;
    margin: 100px 0;
}

.section-title p {
    font-size: 1.3rem;
    font-weight: 200;
}

.article-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.services-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color2);
    border-radius: 20px;
    width: 40vw;
    padding: 25px;
    gap: 0 20px;
}

.services-card img {
    width: 50%;
    /* height: 100%; */
    border-radius: 17px;
    object-fit: cover;
}

.services-desc {
    margin: 0;
    padding: 0;
}

.services-desc h2 {
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

.services-desc p {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    font-size: 1.2rem;
    margin: 17px 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.services-desc button{
    padding: 15px 35px;
    font-size: 1.2rem;
}

.services-desc button:hover {
    cursor: pointer;
    background-color: var(--accent-color-hover);
}

.services-desc button:active {
    transform: scale(.97);
}
/* services section */

/* Fleet Vehicles */

.category-vehicles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.category-list ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: .5rem;
    margin: 0;
    padding: 0;
}

.category-list ul li {
    padding: 10px 20px;
    margin: 0;
    transition: all .3s;
}

.category-list ul li a {
    text-decoration: none;
    color: var(--black-color);
    font-size: 1.2rem;
    font-weight: 500;
}

.category-list ul li:hover {
    background-color: var(--accent-color2);
    border-radius: 7px;
    cursor: pointer;
}

.prev-next-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 4rem;
    gap: 10px;
}

.btn {
    border-radius: 100%;
    padding: 13px 17px;
}

.prev {
    background-color: #e3e3e3;
}

.next {
    background-color: var(--accent-color2);
}

.btn:hover {
    cursor: pointer;
}

.vehicles-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin: 20px 0;
    gap: 0 30px;
    overflow: hidden;
}

.vehicles-card {
    /* background-color: var(--accent-color2); */
    width: 400px;
    height: 450px;
    border-radius: 20px;
    margin: 20px 0;
}

.image-vehicles-container {
    width: 400px;
    height: 300px;
    border-radius: 20px;   
    overflow: hidden;
}

.vehicles-card img {
    box-sizing: border-box;
    width: 400px;
    height: 300px;
    object-fit: cover;
    transition: all .3s;
}

.vehicles-card img:hover {
    cursor: pointer;
    transform: scale(125%);
}

.vehicles-card h3 {
    font-size: 1.7rem;
    font-weight: 600;
}

.vehicles-info {
    display: flex;
    gap: 0 10px;
}

.vehicles-info a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: var(--accent-color2);
    color: var(--black-color);
    text-align: center;
    border-radius: 15%;
    width: 70px;
    height: 50px;
}

.vehicles-info a span {
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 10px;
}
/* Fleet Vehicles */

/* privilege */

.privilege-container {
    width: 100%;
}

.privilege-list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    padding: 0 4rem;
    flex-wrap: wrap;
}

.privilege-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 100%;
}

.privilege-icon {
    display: flex;
    justify-content: center;
    background-color: var(--accent-color2);
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: 25px;
}

.privilege-icon img {
    width: 180px;
    height: 180px;
}

.privilege-desc {
    width: 280px;
}

.privilege-desc h3 {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
}

.privilege-desc p {
    text-align: center;
    font-size: 1.1rem;
}

/* privilege */

/* promo */

.promo {
    flex-direction: column;
    margin: 100px 0;
}

.promo h1 {
    margin: 0;
}

.promo h1 span {
    color: red;
}

.promo p {
    text-align: center;    
}

.promo-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0 4rem;
    padding: 50px;
    background-color: var(--accent-color2);
    border-radius: 35px;
    gap: 100px;
}

.promo-info {
    height: 100%;
}

.promo-info h3 {
    font-size: 5rem;
    font-weight: 700;
    margin: 0 0 20px 0;
}

.promo-info button {
    margin-top: 20px;
    border-radius: 15px;
}

.promo-info button:hover {
    cursor: pointer;
    background-color: var(--accent-color-hover);
}

.promo-info button:active {
    transform: scale(.95);
}

.promo-desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 20px 0;
}

.promo-desc ul {
    list-style-type: none;
    padding: 0;
}

.promo-desc ul li {
    margin: 10px 0;
}

.promo-desc ul li span {
    margin-left: 10px;
}

.promo-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 200px;
}

.promo-img img {
    position: relative;
    width: 100%;
    top: -60px;
}
/* promo */

/* footer */

footer {
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card {
    width: 100%;
    margin: 2rem;
    padding: 40px 80px;
    background-color: var(--accent-color);
    border-radius: 35px;
    gap: 100px;
}

.subscribe-email {
    flex: 1;
}

.logo-bottom img {
    width: 80px;
    -webkit-filter: invert(1) hue-rotate(180deg) contrast(2);
    filter: invert(1) hue-rotate(180deg) contrast(2);
}

.subscribe-form {
    width: 100%;
}

.subscribe-desc {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.subscribe-desc p {
    color: var(--accent-color2);
}

.subscribe-form input[type='text'] {
    padding: 15px;
    width: 50%;
    border-radius: 7px;
    border: none;
    background-color: var(--white-color);
}

.subscribe-form input[type='submit'] {
    padding: 15px;
    border-radius: 10px;
    background-color: var(--accent-color2);
    font-weight: 600;
    transition: all .3s;
}

.subscribe-form input[type='submit']:hover {
    cursor: pointer;
    background-color: var(--accent-color2-hover);
}

.subscribe-form input[type='submit']:active {
    transform: scale(.97);
}

.upper {
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
}

.cities-list {
    flex: 1;
}

.cities-list h3 {
    width: 100%;
    margin: 30px 0;
    color: var(--white-color);
}

.cities-list ul{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    gap: 10px;
}

.cities-list ul li a{
    text-decoration: none;
    color: var(--accent-color2);
}

.explore-list {
    flex: 1;
}

.explore-list h3 {
    width: 100%;
    margin: 30px 0;
    color: var(--white-color);
}

.explore-list ul{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    gap: 10px;
}

.explore-list ul li a {
    text-decoration: none;
    color: var(--accent-color2);
}

.routes-list {
    flex: 1;
}

.routes-list h3 {
    width: 100%;
    margin: 30px 0;
    color: var(--white-color);
}

.routes-list ul{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    gap: 10px;
}

.routes-list ul li a {
    text-decoration: none;
    color: var(--accent-color2);
}

.lower {
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.policy {
    flex: 3;
}

.policy ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0;
    margin: 0;
    gap: 20px;
}

.policy ul li a {
    text-decoration: none;
    color: var(--accent-color2);
}

.social-media {
    flex: 1;
}

.social-media ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0;
    margin: 0;
    gap: 20px;
}

.social-media ul li i {
    color: var(--accent-color2);
    font-size: 1.5em;
}
/* footer */

/* responsivness */

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .slider-container {
        width: 800%;
        /* flex: 2 1 auto; */
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) and (min-width: 480px) {
    .slider-container {
        width: 600%;
        flex: 1 1 auto;
    }

    .navbar-container {
        width: 100vw;
    }

    .hero-container {
        height: 70vw;
    }

    .hero-desc h1 {
        font-size: 24px;
    }

    /* services */

    .section-title {
        display: flex;
        flex-direction: column;
        margin: 80px 0;
        gap: 40px 0;
    }

    .section-title h1 {
        font-size: 3rem;
        margin: 0;
    }

    .section-title p {
        text-align: center;
        margin: 0;
    }

    .services-card {
        width: 80vw;
    }

    .services-desc p {
        margin: 25px 0;
    }

    /* services */

    /* fleet */



    /* fleet */

    /* privileges */

    .privilege-list {
        justify-content: space-around;
        gap: 50px 0;
    }

    /* privileges */

    /* promo */

    .promo-card {
        gap: 0;
        padding: 30px;
    }

    .promo-info h3 {
        font-size: 3rem;
    }

    .promo-desc {
        align-items: flex-start;
        margin: 0;
    }

    .promo-desc ul li {
        display: flex;
        flex-direction: row;
        font-size: 1rem;
        margin: 20px 0;
    }

    .promo-img {
        width: 70%;
        height: 100px;
    }
    
    .promo-img img {
        position: relative;
        left: 50%;
        width: 200%;
        top: -60px;
    }

    /* promo */

    /* footer */

    .upper {
        flex-direction: column;
    }

    .lower {
        flex-direction: column-reverse;
        gap: 30px;
    }

    .social-media ul li i {
        font-size: 2em;
    }

    /* footer */
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 1240px) and (min-width: 768px) {

    /* hero  */
    .slider-container {
        width: 150%;
        flex: 1 1 auto;
    }

    .hero-desc h1 {
        font-size: 6rem;
    }

    .hero-desc p {
        font-size: 1rem;
    }

    button {
        font-size: 1.3rem;
    }
    /* hero  */

    /* services */

    .services-desc h2 {
        font-size: 1.3rem;
    }

    .services-desc p {
        font-size: .7rem;
    }

    .services-desc button{
        padding: 10px 25px;
        font-size: .7rem;
    }

    /* services */

    /* fleet */

    /* fleet */

    /* privileges */

    .privilege-list {
        padding: 0 1rem;
    }

    .privilege-icon {
        width: 200px;
        height: 200px;
    }

    .privilege-icon img {
        width: 100px;
        height: 100px;
    }

    .privilege-desc h3 {
        text-align: center;
        font-size: 1.3rem;
        font-weight: 600;
    }
    
    .privilege-desc p {
        text-align: center;
        font-size: .9rem;
    }

    /* privileges */

    /* promo */

    .promo {
        margin-bottom: 150px;
    }

    .promo-card {
        flex-wrap: wrap-reverse;
        margin: 0 8rem;
    }

    .promo-img {
        width: 50%;
        height: 200px;
    }
    
    .promo-img img {
        position: relative;
        left: 50%;
        width: 180%;
        top: -60px;
    }

    /* promo */
}

/* responsivness */